.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top: 5px solid #007BFF;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 15px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Responsividade para o Loading */
@media (max-width: 768px) {
    .loading-container {
        font-size: 16px; /* Menor fonte em telas menores */
    }

    .spinner {
        width: 40px;
        height: 40px;
        border-width: 4px; /* Tamanho do spinner reduzido */
    }
}

@media (max-width: 576px) {
    .loading-container {
        font-size: 14px; /* Menor fonte para telas muito pequenas */
    }

    .spinner {
        width: 30px;
        height: 30px;
        border-width: 3px; /* Spinner ainda menor em telas pequenas */
    }
}
