/* Estilo da section dentro de About */
.about-section {
    height: 80vh;
    width: 100vw;
    background-color: #f3e9e1;
    color: #4a2c2a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.contentTexts {
    max-width: 90%;
    text-align: center;
}

.contentTexts h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .contentTexts {
        max-width: 80%;
    }

    .contentTexts h1 {
        font-size: 1.5rem;
    }
}
