.loading-container {
    position: fixed; /* Permite que o loading sobreponha a tela inteira */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Fundo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Isso garante que o carregamento fique sobre tudo */
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top: 5px solid #007BFF;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 15px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Estilo do texto */
p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin: 0;
    padding: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Responsividade para o Loading */
@media (max-width: 768px) {
    .spinner {
        width: 60px;
        height: 60px;
    }

    p {
        font-size: 1rem;
        /* Ajuste de fonte para telas menores */
    }
}

@media (max-width: 480px) {
    .spinner {
        width: 50px;
        height: 50px;
    }

    p {
        font-size: 0.9rem;
        /* Ajuste de fonte para telas muito pequenas */
    }
}